.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-info {
  display: flex;
  justify-content: center;
  margin-bottom: px;
  margin-top: 30px;
  gap: 10px;
  font-size: 0.85rem;
  font-family: Arial, sans-serif;
}

.team-selection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.team-name {
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  flex: 1;
  text-align: center;
}

.team-name.selectedHome {
  background: linear-gradient(to right, rgba(83, 197, 83, 1), rgba(83, 197, 83, 0.5), rgba(83, 197, 83, 0.1));
}

.team-name.selectedAway {
  background: linear-gradient(to left, rgba(83, 197, 83, 1), rgba(83, 197, 83, 0.5), rgba(83, 197, 83, 0.1));
}