.pickems-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.week-selector {
  margin-bottom: -10px;
}

.matches-container {
  padding-right: 20px;
}

.sendbutton-container {
  padding-top: 20px;
}

.standings-container {
  padding-left: 40px;
  max-width: 200px;
}

  
.standings-container th, .standings-container td {
  text-align: left;
  padding: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

